body {
    background-color: rgb(211, 206, 206);
}

header {
    background-color: blue;
    color: rgb(255, 251, 251);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.01cm;
    text-align: center;
    height: 120px;
    width: auto;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#about {
    background-color: white;
    border: 4px solid rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
}

#achievements {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 5px;
}

footer {
    background-color: blue;
    text-align: center;
    height: 50px;
}